---
---
/* VARIABLES */
$header-font-size: 32px;
$medium-font-size: 28px;
$small-font-size: 20px;
$paragraph-font-size: 18px;

$standard-margin: 32px;
$standard-panel-width: 48.5%;

$text-hover-brightness: 50%;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

h1 {
  font-size: $small-font-size;
  font-weight: 400;
  margin-bottom: 8px;
}

h2 {
  font-size: $medium-font-size;
  font-weight: 400;
  margin-bottom: 8px;
}

h3 {
  font-size: $header-font-size;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0.5px solid #CCCCCC;
}

p {
  font-size: $paragraph-font-size;
  line-height: 1.5;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  width: 100%;
  a {
    text-decoration: none;
  }
}

/* Home page */
.home-page {
  .header-slideshow {
    background-color: black;
    .slide {
      display: none;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
/* SLIDES ANIMATION */
.slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* FIXED WIDTH PAGES */
.narrow-page {
  width:  90%;
  margin: 0 auto;
  max-width: 1024px;
  margin-bottom: 16px;
  margin-top: $standard-margin;

  img.hero {
    width: 100%;
    margin-bottom: 16px;
  }
  .hero-video {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-bottom: 16px;
  }
  .hero-video iframe {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.summary-block {
  width: 100%;
  margin-bottom: $standard-margin;

  .title-and-dates {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    font-size: $medium-font-size;
  }
}

.content {
  margin-bottom: $standard-margin;

  p {
    margin-bottom: $standard-margin;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .image-with-caption {
    width: $standard-panel-width;
    img {
      width: 100%;
    }
    p.caption {
      margin-bottom: 32px;
    }
  }
}

.selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    width: $standard-panel-width;

    .selector-preview {
      margin-bottom: $standard-margin;

      position: relative;

      .preview-image {
        width: 100%;
      }
      .platform-icon {
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 10%;
      }
      .title {
        color: white;
        font-size: $medium-font-size;
        text-shadow: 0px 2px 2px black;
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 64px;
      }
      .date {
        color: white;
        font-size: $medium-font-size;
        text-shadow: 0px 2px 2px black;
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }
  }
  a:hover {
    img {
      filter: brightness(80%);
    }
  }
}
@media only screen and (max-width: 900px) {
  .selector > a > .selector-preview > .date {
    font-size: $small-font-size;
  }
}

/* TITLE BAR */
.title-bar {
  font-size: $header-font-size;
  font-weight: 600;

  padding: $standard-margin 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #000;

  a {
    color: #FFF;
    text-transform: uppercase;
  }
  a:hover {
    filter: brightness($text-hover-brightness);
  }
  .logo {
    white-space: nowrap;
  }
  .nav-bar {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;

    li {
      margin-left: 1em;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .title-bar {
    padding: 16px $standard-margin;
    font-size: $medium-font-size;
    flex-direction: column;
    .nav-bar > li {
      margin-top: 0.5em;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}

/* SECTION HEADERS */
.section-header {
  height: 156px;

  display: flex;
  justify-content: center;
  align-items: center;

  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: black;
      font-size: $header-font-size;
      margin: 0em 1em;
      font-weight: 600;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }
}
.inverted {
  background-color: #000;
  .section-title > a {
    color: white;
  }
}
.section-divider {
  background-color: black;
  height: 2px;
  width: 100%;
}
/* SECTIONS */
.section {
  padding: 0px $standard-margin;
}
/* ABOUT SECTION */
.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // flex-direction: row-reverse;

  .about-pannel {
    width: $standard-panel-width;
    margin-bottom: $standard-margin;

    img {
      width: 100%;
    }
  }
}

/* CONTACT SECTION */
.contact-section {
  padding: 0px $standard-margin;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // flex-direction: row-reverse;

  background-color: black;

  .contact-pannel {
    //width: 48.5%;
    margin-bottom: $standard-margin;
    margin-left: 16px;
    margin-right: 16px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: margin-left;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
    }

    a {
      font-size: $small-font-size;
      margin-left: 16px;
      color: #FFF;
    }
    a:hover {
      filter: brightness($text-hover-brightness);
    }
  }
}

/* Responsive */
@media only screen and (max-width: 720px) {
    .selector > a {
      width: 100%;
    }
    .gallery > .image-with-caption {
      width: 100%;
    }
    .about-section > .about-pannel {
      width: 100%;
    }
    .contact-section {
      flex-direction: column;
      justify-content: flex-start;
    }
}
