<div class="section">
	<div class="section-header" id="about">
		<div class="section-title">
			<img src="/assets/sectionLine.svg">
			<a href="/#about" title="View about us">About Us</a>
			<img src="/assets/sectionLine.svg">
		</div>
	</div>
	<div class="about-section">
		<div class="about-pannel">
			<img src="/assets/about/about0.jpg">
		</div>
		<div class="about-pannel">
			<p>We are a group passionate college students looking to make a name for ourselves in the VR game industry. Since high school we have been working hard on dozens of different games. As of today we have released two games on the Apple App Store and one VR title on Steam. However, we are far from our peak and still have a lot of learning to do.</p>
			<p>We are currently experimenting with numerous different VR game ideas. We hope to discover the best possible mechanics for VR and make a game that truly fits the genre.</p>
			<p>In the meantime we offer a glimpse into our journey and hope to share what we can of our developing expertise.</p>
		</div>
	</div>
</div>
