<!-- <div class="section"> -->
<div class="section">
	<div class="section-contents">
		<div class="contact-section">
			<a class="contact-pannel" href="https://twitter.com/trassgamesVR">
				<img src="/assets/logo_twitter.png">
				<p>Follow our Twitter</p>
			</a>
			<a class="contact-pannel" href="https://discord.gg/v3AuK92">
				<img src="/assets/logo_discord.png">
				<p>Join our Discord</p>
			</a>
			<a class="contact-pannel" href="https://www.youtube.com/channel/UCuD6stT8bnyMCIIVwg8kUeA">
				<img src="/assets/logo_youtube.png">
				<p>Subscribe to our YouTube channel</p>
			</a>
			<a class="contact-pannel" href="mailto: somethingtrass@gmail.com">
				<img src="/assets/logo_email.png">
				<p>Email us at somethingtrass@gmail.com</p>
			</a>
		</div>
	</div>
</div>
