<!-- <div class="section"> -->
	<div class="section-header inverted" id="contact">
		<div class="section-title">
			<img src="/assets/sectionLineInverted.svg">
			<a href="/#contact" title="View contact information">Contact Us</a>
			<img src="/assets/sectionLineInverted.svg">
		</div>
	</div>
	<div class="contact-section">
		<div class="contact-pannel">
			<img src="/assets/logo_email.png">
			<a href="mailto: somethingtrass@gmail.com">Email us at somethingtrass@gmail.com</a>
		</div>
		<div class="contact-pannel">
			<img src="/assets/logo_discord.png">
			<a href="https://discord.gg/v3AuK92">Join our discord</a>
		</div>
		<div class="contact-pannel">
			<img src="/assets/logo_youtube.png">
			<a href="https://www.youtube.com/channel/UCuD6stT8bnyMCIIVwg8kUeA">Subscribe to our YouTube channel</a>
		</div>
	</div>
<!-- </div> -->
