{% assign shownCount = 0 %}
<div class="selector">
	<div class="default-selector">
		{% for post in site.posts %}
			{% if include.count == null or shownCount < include.count %}
				{% if include.project == null or include.project == post.project %}
				 {% assign shownCount = shownCount|plus:1 %}
					{% capture new_path %}/assets/{{ post.id }}_hero.png{% endcapture %}
					{% capture new_date %}{{ post.date | date_to_string }}{% endcapture %}
					{% include selector-card.html url=post.url image_path=new_path title=post.title subtitle=new_date %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>
