<div class="title-bar">
	<div class="logo">
		<a href="/" title="TRASS GAMES">Trass Games</a>
	</div>
	<ul class="nav-bar">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/#games">Games</a>
		</li>
		<li>
			<a href="/#about">About Us</a>
		</li>
		<li>
			<a href="/">Blog</a>
		</li>
		<li>
			<a href="/#contact">Contact</a>
		</li>
	</ul>
</div>

<!-- <div class="gallery">
	{% for image in page.images %}
	<div class="image-with-caption">
		<img src="/assets/projects/{{ image.filename }}">  
		<p class="caption">{{image.caption}}</p>
	</div>
	{% endfor %}
</div> -->
